@import url("..//css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Ubuntu:wght@400;700&display=swap");

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  background: url("..//image/background.png") center/cover no-repeat;
  min-height: 100vh;
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 17px 0 17px;
  margin-bottom: 53px;
  transition: 0.3s linear;
}

.header:hover {
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.41;
}

.container {
  max-width: 1208px;
  margin: 0 auto;
}

.header__body,
.header__icon-login,
.header__icon,
.formreg__signup-login,
.formreg__social-networks_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 22px;
  transition: 0.3s ease;
}

.header__logo:hover,
.login:hover,
.signup:hover {
  color: #3cb878;
}

.header__login-signup {
  font-weight: 400;
  position: relative;
  color: #ffffff;
}

.header__icon {
  gap: 25px;
  margin-right: 53px;
  padding-top: 4px;
}

.icon path,
.login,
.signup {
  transition: 0.3s ease;
}

.icon:hover path {
  fill: #3cb878;
}

.header__login-signup::before {
  content: "";
  position: absolute;
  top: -2px;
  height: 19px;
  left: -27px;
  transform: translateX(50%);
  border: 1px solid rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.main,
.facebook__btn,
.google__btn,
.formreg__alternative {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formreg {
  max-width: 444px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.formreg__body {
  margin: 31px 60px 38px;
  position: relative;
}

.container .formreg__body {
  width: 324px;
}

.formreg__green_cube {
  position: absolute;
  width: 18px;
  height: 18px;
  left: -60px;
  top: 0;
  background: #3cb878;
}

.formreg__signup-login {
  margin-bottom: 14px;
}

.signup__text {
  font-weight: 400;
  font-size: 20px;
  color: #434343;
}

.login__link {
  font-weight: 400;
  color: #3cb878;
  transition: 0.3s ease;
}

.login__link:hover,
.main__text_link:hover {
  color: #01813f;
  text-decoration: underline;
}

.formreg__social-networks_btn {
  margin-bottom: 32px;
}

.facebook__btn {
  background: #305db8;
  font-weight: 400;
  font-size: 16px;
  padding: 12px 22px 12px 17px;
  border-radius: 4px;
  position: relative;
  transition: 0.3s ease;
}

.facebook__btn img {
  margin-right: 38px;
}

.facebook__btn:hover {
  background: #022263;
}

.facebook__btn::before,
.google__btn::before {
  content: "";
  position: absolute;
  top: 10px;
  height: 28px;
  left: 48px;
  transform: translateX(50%);
  border: 1px solid #0a162f;
  opacity: 0.1;
}

.google__btn {
  background: #df4a32;
  font-weight: 400;
  font-size: 16px;
  padding: 15px 27px 14px 12px;
  border-radius: 4px;
  position: relative;
  transition: 0.3s ease;
}

.google__btn img {
  margin-right: 38px;
}

.google__btn:hover {
  background: #ab1f09;
}

.google__btn::before {
  left: 49px;
  border: 1px solid #2b0d09;
}

.formreg__alternative {
  font-weight: 400;
  position: relative;
  margin-bottom: 11px;
  color: #848484;
}

.formreg__alternative::before,
.formreg__alternative::after {
  content: "";
  position: absolute;
  top: 7px;
  width: 152px;
  right: 53%;
  transform: translateY(50%);
  border-bottom: 1px solid #f2f2f2;
}

.formreg__alternative::after {
  left: 53%;
}

.formreg__main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.main__form_input {
  width: 100%;
  padding: 15px 0 15px 20px;
  color: #434343;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-bottom: 15px;
}

.main__form_input:focus {
  outline: none;

  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.main__form_input::placeholder {
  font-weight: 400;
  color: #bebebe;
}

.main__field_accept {
  display: inline-block;
  position: relative;
  font-weight: 400;
  margin-bottom: 20px;
}

.main__accept_checkbox {
  position: absolute;
  opacity: 0;
}

.main__accept_box {
  position: absolute;
  top: -3px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
}

.main__accept_checkbox:checked + .main__accept_box::before {
  content: url("..//image/check.svg");
  display: block;
  position: absolute;
  left: 2px;
  top: 1px;
}

.main__accept_text {
  margin-left: 30px;
  color: #434343;
}

.main__text_link {
  color: #3cb878;
  transition: 0.3s ease;
}

.main__btn_create {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  padding: 16px 99px;
  transition: 0.3s ease;
}

.main__btn_create:hover {
  background: #01813f;
}
